<main>
    <h1 class="page-title">Anasayfa</h1>
    <p class="page-description">
      Hızlandırılmış Angular Dersleri için Kartvizit App'i geliştiriyoruz.
    </p>
    <hr>

    <div class="container">
      <div class="logo">
          <h1>Kartvizit App</h1>
      </div>
      <nav>
          <ul>
              <li><a href="#">Ana Sayfa</a></li>
              <li><a href="/about">Hakkımızda</a></li>
              <li><a href="/cards">Kartvizitler</a></li>
          </ul>
      </nav>
      
  </div>

    <br>
    <section class="hero">
      <div class="container">
          <h2>Profesyonel Kartvizitlerinizi Hızla Oluşturun</h2>
          <p>Modern ve kullanıcı dostu tasarımlar ile iş dünyasında iz bırakın.</p>
          <a >Şimdi Başlayın...</a><br>
          <a href="#" class="cta">Kartvizit Oluştur</a>
      </div>
    </section>

  </main>
